<h1>Add A City</h1>

<form action="/neo_city" method="post">
  <label for="city_input">Add a City to the Database</label>
  <input type="text" name="city_input">
  <button type="submit" class="btn">Add City</button>
</form>
