<h1>Add A Train</h1>

<form action="/neo_train" method="post">
  <label for="train_input">Add a Train to the Database</label>
  <input type="text" name="train_input">
  <button type="submit" class="btn">Add Train</button>
</form>
