<h1>Administrator page</h1>
<br>
<p><a href="/">Home</a></p>
<p><a href="/cities">View all cities</a></p>
<p><a href="/trains">View all trains</a></p>
<p><a href="/train/new">Add a Train</a></p>
<p><a href="/city/new">Add a City</a></p>
<p><a href="/train/new_city_stop">Add a City stop to a Train route</a></p>
<p><a href="/city/new_train_stop">Add a Train stop to a City</a></p>
<p><a href="/train/edit_city">Edit cities (Edit name, delete city, delete train )</a></p>
<p><a href="/city/edit_train">Edit trains (Edit name, delete train, delete city stops)</a></p>
